@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.Nav-name{
  font-size: 18px;
}

.Nav-name img {
  display: inline-block;
  width: 50%;
  height: auto;
  
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem; 
}

.card {
  width: 300px; 
  margin: 20px auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background-color: #f8f9fa;
  padding: 15px;
}

.container {
  padding: 20px;
}

.row {
  margin: 0;
}

h2 {
  color: #007bff; 
}

strong {
  font-weight: bold;
}

span {
  color: #555;
}

/* Add Item */

.container {
  border: 1px solid #0ec7ae; 
  border-radius: 0.25rem;
  padding: 20px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

